#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(54, 148, 255);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(101, 176, 236);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(105, 153, 171);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(64, 104, 130);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(37, 109, 133);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(156, 77, 139);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(16, 48, 61);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(32, 36, 49);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(29, 28, 29);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
